.home-container{
    background-image: url("image/bg.jpg");
    height: 700px;
}

.purple{
    color: purple;
    font-weight: 700;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}