/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}